In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer()
import language_check
import textstat

In [2]:
df = pd.read_csv("cleandata_set_1.csv")

In [3]:
df['word_count'] = df['essay'].str.count(' ') + 1
df["Mistakes"] = float('nan')
df["reading_ease"] = float('nan')

In [4]:
#ZERO R ACCURACY

df[df["essay_set"] ==1]["domain1_score"].value_counts().iloc[0]/len(df[df["essay_set"] ==1])

0.3853056646102075

In [5]:
from tqdm import tqdm_notebook as tqdm
tool = language_check.LanguageTool('en-US')

for i in tqdm(range(len(df))):
    df.loc[i, "Mistakes"]= len(tool.check(df.loc[i,"essay"]))

/Users/patrickliu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=1783.0), HTML(value='')))

In [6]:
for i in tqdm(range(len(df))):
    df.loc[i, "reading_ease"]= textstat.flesch_reading_ease(df.loc[i, "essay"])

/Users/patrickliu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=1783.0), HTML(value='')))

In [7]:
df.head()

,Unnamed: 0,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,total_score,word_count,Mistakes,reading_ease
0,0,1,1,"Dear local newspaper, I think effects computer...",4,4,0.0,8,0.0,0.0,0.0,8.0,338,11.0,74.02
1,1,2,1,"Dear @CAPS @CAPS, I believe that using compute...",5,4,0.0,9,0.0,0.0,0.0,9.0,419,20.0,67.08
2,2,3,1,"Dear, @CAPS @CAPS @CAPS More and more people u...",4,3,0.0,7,0.0,0.0,0.0,7.0,279,10.0,68.20
3,3,4,1,"Dear Local Newspaper, @CAPS I have found that ...",5,5,0.0,10,0.0,0.0,0.0,10.0,524,40.0,53.34
4,4,5,1,"Dear @LOCATION, I know having computers has a ...",4,4,0.0,8,0.0,0.0,0.0,8.0,465,17.0,72.66

In [8]:
df.to_csv("df.csv", index=False)